html {
    font-size: 20px;
}

body { 
    text-align: center;
    font-family: "Arial", "Meiryo", sans-serif;
}
.decoration {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 2rem;
    text-shadow: 1px 1px 2px gray;
    letter-spacing: 1.2em;
    border-bottom: solid 3px rgb(115, 115, 114);
}

.font-pink {
    color: rgb(255, 192, 203);
}
.font-blue {
    color: skyblue;
}

.sub-title-pink {
    color: rgb(255, 192, 203);
}
.sub-title-blue {
    color: skyblue;
}
#basic {
    font-weight: bold;
}


   
